*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 1.125rem/1.5 Arial, san-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 0;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

header {
  background: linear-gradient(to bottom right, #0073df 0%, #0099ff 50%, #00e1ff 100%);
  color: #fff;
}

.main-header {
  padding: 0.5em 0;
}

.main-header .logo {
  letter-spacing: -2px;
  margin-bottom: 0;
}

.main-header .logo span {
  color: #2cec9c;
}

.main-nav li + li {
  margin-left: 20px;
}

.main-nav a {
  display: block;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  position: relative;
}

.main-nav a::after {
  content: "";
  background: #fff;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  transform: translateY(-7px);
  opacity: 0;
  transition: 0.3s;
}

.main-nav a:hover::after {
  transform: translateY(0);
  opacity: 1;
}

.main-nav a:focus::after {
  transform: translateY(0);
  opacity: 1;
}

.header-showcase {
  padding: 2em 0;
}

.header-showcase .showcase-text {
  width: 50%;
}

.header-showcase .showcase-text h1 {
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -1px;
}

.header-showcase .showcase-text p {
  margin-bottom: 2.5em;
}

.header-showcase .showcase-text .showcase-buttons-wrap .btn + .btn {
  margin-left: 10px;
}

.header-showcase .showcase-img {
  width: 60%;
}

.main-header,
.main-nav, .header-showcase {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 0.6em 1.8em;
  color: #fff;
  border-radius: 20px;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
  font-size: 1rem;
  font-weight: 900;
}

.btn-primary {
  background: #e26d00;
  color: #fff;
}

.btn-primary:hover {
  border-bottom: 2px solid #af5400;
}

.btn-secondary {
  background: #33a3ff;
}

.btn-secondary:hover {
  border-bottom: 2px solid #0070cc;
}

.btn-mobile {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  outline: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.btn-mobile span,
.btn-mobile span::before,
.btn-mobile span::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  left: 0;
}

.btn-mobile span {
  transform: rotateY(180deg);
}

.btn-mobile span::before {
  top: -8px;
  width: 70%;
}

.btn-mobile span::after {
  top: 8px;
  width: 50%;
}

@media (max-width: 800px) {
  .header-showcase {
    padding: 4em 0;
  }
  .showcase-text {
    width: 80% !important;
    margin: 0 auto;
    text-align: center;
  }
  .showcase-img {
    display: none;
  }
  .btn-mobile {
    display: flex;
  }
  .main-nav {
    display: none;
  }
}

@media (max-width: 350px) {
  .btn {
    width: 200px;
    display: inline-block;
    text-align: center;
  }
  .showcase-buttons-wrap .btn + .btn {
    margin-left: 0 !important;
    margin-top: 10px;
  }
}
